POSTGRES_USER=postgres
POSTGRES_PASSWORD=dein_sicheres_passwort
POSTGRES_DB=online_go

DATABASE_URL=postgres://postgres:dein_sicheres_passwort@postgres:5432/online_go
SESSION_SECRET=ein_sehr_langer_zufaelliger_string
NODE_ENV=production
ALLOWED_ORIGIN=https://deine-domain.de
DB_SSL=false